@using EmailProject.Models;

@model EmailModel;
@{
    string data = null;


    try
    {
        data = ViewData["data"].ToString();

    }catch{}

}

@if (data!= null)
{

    <script type="text/javascript">
        window.onload = function () {
            alert("@data");
        };
    </script>
}

<section>
    <div class="mailBox  customScroll">
        @using (@Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <div id="labels">
                <label id="lb-post" for="Mail">Select your post </label>

                @Html.DropDownListFor(x => x.Mail, new List<SelectListItem>
            {
            new SelectListItem {Text = "Gmail", Value = "gmail", Selected = true },
            new SelectListItem {Text = "OutLook", Value = "outlook" },
            new SelectListItem {Text = "WP", Value = "wp" },
            new SelectListItem {Text = "O2", Value = "o2" },
            }, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "text-danger" })
                <br />
                <br />
                <br />
                <br />
                

                <label for="From">From </label>
                @Html.TextBoxFor(x => x.From, new {placeholder ="..."})
                <br />
                <hr>

                <label for="To">To</label>
                @Html.TextBoxFor(x => x.To, new {placeholder ="..."})
                <br />

                <hr>

                <label for="Title">Title </label>
                @Html.TextBoxFor(x => x.Title, new {placeholder ="..."})
                <br />

                <hr>
                <label for="Text">Text</label>
                @Html.TextBoxFor(x => x.Text, new {placeholder ="..."})
                <br />

            </div>
            <div style="clear:both"></div>
            <div id="buttons">
                <input type="submit" value="SEND" />
            </div>
        }
    </div>

</section>

   



    