@using EmailProject.Models;

@model IndexViewModel

@{
}
<section>

    <div class="mailBox  customScroll">
        @using (@Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <div id="labels">
                <label id="lb-post" for="Mail">Select your post </label>

                @Html.DropDownListFor(x => x.Mail, new List<SelectListItem>
            {
            new SelectListItem {Text = "Gmail", Value = "gmail", Selected = true },
            new SelectListItem {Text = "OutLook", Value = "outlook" },
            new SelectListItem {Text = "WP", Value = "wp" },
            new SelectListItem {Text = "O2", Value = "o2" },
            }, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "text-danger" })



                <div class="form-group">
                    @Html.LabelFor(m => m.UserEmail)
                    @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserEmail, "", new { @class = "text-danger" })
                </div>

                <hr>

                <div class="form-group">
                    @Html.LabelFor(m => m.EmailPassword)
                    @Html.TextBoxFor(m => m.EmailPassword, new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.EmailPassword, "", new { @class = "text-danger" })
                </div>

                <hr>

            </div>
           
            <div id="buttons">
                <input type="submit" value="Zatwierdź" />
            </div>
        }
    </div>


</section>

@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

